<% layout("/layouts/boilerplate") %>

    <div class="row mt-3">
        <h1 class="text-center"><b><u>Login</u></b></h1>
        <div class="col-6 offset-3">
            <form action="/login" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label"><b>Username</b></label>
                    <input name="username" id="username" placeholder="Username" type="text" class="form-control"
                    required />
                </div>    
                <div class="mb-3">
                    <label for="password" class="form-label"><b>Password</b></label>
                    <input name="password" id="password" placeholder="Password" type="password"
                    class="form-control" 
                    required />
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>